.button {
  background-color: cadetblue;
  color: darkmagenta;
  text-align: center;
  font-size: medium;
  font-style: normal;
  border-radius: 4px;
  transition-duration: 10ms;
  border-color: black;
}

.button:hover {
  background-color: blanchedalmond;
  color: darkmagenta;
  border-color: black;
}

.button:active {
  background-color: darkblue;
  transform: scale(0.95);
}

.button:disabled {
  background-color: grey;
  color: black;
}

.button:before {
  content: "köra bil 👉 ";
}
